@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body, html {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0; 
}

h1{
	font-weight: 800;
	font-size: 60px;

}

h2{
	font-weight: 800;
	font-size: 45px;

}

h3{
	font-weight: 900;
	font-size: 25px;
}

h4{
	font-weight: bold;
	font-size: 15px;
}

p{
	font-weight: bold;
	font-size: 29px;
	margin: 30px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto; 
}
.hero-banner{
	background-color: #cc6600; 
	min-height: 100vh; 
	padding: 50px 20px; 
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h3 {
	color: white;
	margin: 0 0 20px;
}

.hero-banner h1 {
	color: white;
	margin: 14px 0 20px;
}
.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0;
}

.character1{
	background: url(img/character1.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 191px;
	height: 344px;
	position: absolute; top: 17%; right: 96px;
}

.character2{
	background: url(img/character2.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 192px;
	height: 371px;
	position: absolute; top: 235px; right: 226px;
	transform: rotate(-15deg);

}

.character3{
	background: url(img/character3.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 174px;
	height: 286px;
	position: absolute; bottom: 74px; right: 52px;
	transform: rotate(15deg);

}
a.cta,
button.cta{
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color: #FFD400;
	display: inline-block; 
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	padding: 20px 30px;
	border-radius: 15px; 
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a.cta.alt
button.cta.alt{
	background-color: #ff0000;
	color: black;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav .logo {
    display: block;
    width: 110px;
    height: 86px;
    position: absolute;
    top: 33%;
    left: 2%;
    margin-top: -11px;
    margin-left: 30px;
    background: url(img/logo.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}


	
nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size:27px;
	font-weight: bold;
	color: red;
	text-decoration: none;
	padding: 15px 10px;
	line-height: 50px;
}

.more-info{
text-align: center;
}

.more-info p{
	margin-top: 18px;
	margin-bottom: 35px;
}

.more-info p{
	margin: 18px 0 35px;
}

}

.highlight {
    background-color: #FFADF9;
    color: #FF3300;
    padding: 5px 10px;
    line-height: 50px;
    display: inline;
    font-weight: 800;
}

.sep {
	width: 470px;
	height: 10px;
	background-color: black; 
	margin: 70px auto;

}

.story h3 {
	text-align: center;
	font-size: 40px;
}

.nb-list{
	width: 470px;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #dadfe8;
	float: left;
	margin: 100px 20px 20px 0;
	position: relative;
}

.nb-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 25px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	padding: 6px 20px; 
}

.nb-list li.yellow{background-color: yellow; color: black}
.nb-list li.red{background-color: red;}
.nb-list li.grey{background-color: rgb(0,0,0,.2);}
.nb-list li.green{background-color: green;}
.nb-list li.blue{background-color: blue;}
.nb-list li.red{background-color: red;}
.nb-list li.green{background-color: green;}
.nb-list li.blue{background-color: blue;}

.nb-list li.dragging{
	position: absolute;
	top: 200px;
    left: 29px;
    right: 15px;
    transform: rotate(9deg);
	box-shadow: 0 2px 14px rgba(0,0,0,.3);
}

.nb-list li.dragging:after {
    content: '';
    display: block;
    position: absolute;
    width: 54px;
    height: 60px;
    background: url(img/hand.png) no-repeat 0 0;
    background-size: 100%;
    bottom: -30px;
    left: 80%;

}
.gang{
	display: block;
	margin: 0 auto; 
}

footer{
	text-align: center;
	color: rgba(0,0,0,.4);
	font-size: 20px;
	font-weight: bold;
}

footer a{
	color: rgba(0,0,0,.4);
}

.popup {
	display: none;
}
/*
<div class="sep"></div>
	<div class="story" id="story">
		<ul class="nb-list">
<li class="red">1960 Best Engineered Recording </li>
<li class="grey">&nbsp;</li>
<li class="green dragging">1961 Best Album for Children</li>
<li class="blue">2000 Golden Reel Award </li>
<li class="red">2008 Kids' Choice Award</li>
<li class="green">2008 American Music Award </li>
<li class="blue">2010 Favorite Movie Award</li>

		</ul>
		<h3>Left: Our Awards <br>
		Below: Our Story</h3>
		 <p>One particularly harsh winter, there was a nut shortage in the forest and their mother, Vinnie, took off to look for food. </p> 
		 <p>In her absence, their tree was cut down and carted off to grace the entrance lobby of a city office building, with them in it. </p>   
		<p> They then hitch a ride in a basket of pastries carried by Dave Seville and wind up in his home- where they wreak havoc, cause uproar in his kitchen and get thrown out. <br> They eventually show Dave how well they can sing and become celebrities as a result. </p>
