@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body, html {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0; 
}

h1{
	font-weight: 800;
	font-size: 60px;

}

h2{
	font-weight: 800;
	font-size: 45px;

}

h3{
	font-weight: bold;
	font-size: 25px;
}

h4{
	font-weight: bold;
	font-size: 15px;
}

p{
	font-weight: bold;
	font-size: 29px;
	margin: 30px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto; 
}
.hero-banner{
	background-color: #cc6600; 
	min-height: 100vh; 
	padding: 50px 20px; 
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h3 {
	color: white;
	margin: 0 0 20px;
}

.hero-banner h1 {
	color: white;
	margin: 14px 0 20px;
}
.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0;
}

.character1{
	background: url(img/character1.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 191px;
	height: 344px;
	position: absolute; top: 17%; right: 96px;
}

.character2{
	background: url(img/character2.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 192px;
	height: 371px;
	position: absolute; top: 235px; right: 226px;
	transform: rotate(-15deg);

}

.character3{
	background: url(img/character3.jpg) no-repeat 0 0;
	background-size: 100%;
	width: 174px;
	height: 286px;
	position: absolute; bottom: 74px; right: 52px;
	transform: rotate(15deg);

}
a.cta,
button.cta{
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color: #FFD400;
	display: inline-block; 
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	padding: 20px 30px;
	border-radius: 15px; 
	text-decoration: none;
}

a.cta.alt
button.cta.alt{
	background-color: #ff0000;
	color: black;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
}

nav .logo {
    display: block;
    width: 110px;
    height: 86px;
    position: absolute;
    top: 33%;
    left: 2%;
    margin-top: -11px;
    margin-left: 30px;
    background: url(img/logo.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}


	
nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size:27px;
	font-weight: bold;
	color: red;
	text-decoration: none;
	padding: 15px 10px;
	line-height: 50px;
}

.more-info{
text-align: center;
}

.more-info p{
	margin-top: 18px;
	margin-bottom: 35px;
}

.more-info p{
	margin: 18px 0 35px;
}

}

.highlight {
    background-color: #FFADF9;
    color: #FF3300;
    padding: 5px 10px;
    line-height: 50px;
    display: inline;
    font-weight: 800;



/*
<div class="more-info" id="more-info">
		<h2>Join Our Fan Club</h2>
		<p> This club was created for the fans of Alvin, Simon and Theodore. Check out our discussions and join in! <br> There are so many interesting topics all revolving around the Chipmunks and the Chipettes and we have <span class="highlight"> monthly parties at the Chipmunk HQ.</span> <br> Feel free to browse through all of the cute pictures and just have fun!</p>
		<button class="cta">Sign Me Up</button>
	</div>

